<section class="row offset-tn">
    <h2>Aegis JS Library Documentation</h2>
    <h4>Warning: This Documentation is a Work in Progress.</h4>
    <p>The Aegis JS Library provides multiple classes for different purposes which work well with any other JS library.</p>
    <ol>
	    <li><a href="javascript/#DOM">DOM Manipulation</a></li>
	    <li><a href="javascript/#Notification">Notification</a></li>
	    <li><a href="javascript/#Request">Request</a></li>
	    <li><a href="javascript/#Screen">Screen</a></li>
	    <li><a href="javascript/#Storage">Storage</a></li>
	    <li><a href="javascript/#Text">Text</a></li>
    </ol>

    <div id="DOM">
		<h3>DOM Manipulation</h3>
		<p>This module handles DOM Manipulation in jQuery-like way.</p>
		{{> DOM}}
	</div>

	<div id="Notification">
		<h3>Notification</h3>
		<p>The notification module uses the new HTML5 notifications API and may not work in some browsers.</p>
		<!--{{> jsNotification}}-->
	</div>

	<div id="Request">
		<h3>Request</h3>
		<p>This module handles HTTP requests.</p>
		{{> jsRequest}}
	</div>

	<div id="Screen">
		<h3>Screen</h3>
		<p>The screen module takes care of checking information from the device's screen.</p>
		{{> jsScreen}}
	</div>

	<div id="Storage">
		<h3>Storage</h3>
		<p>The storage module uses the HTML5 Local Storage and deals with the related tasks.</p>
		{{> jsStorage}}
	</div>

	<div id="Text">
		<h3>Text</h3>
		<p>The text module takes care of text-related tasks and functionalities.</p>
		{{> jsText}}
	</div>
</section>