<details>
	<summary>
		<span class="title">isRetina()</span>
		<p>Checks if the display has Retina resolution.</p>
	</summary>
	<p><b>Returns: Boolean</b></p>
	<p>Example:</p>
	<pre><code class="language-javascript">Screen.isRetina();</code></pre>
	<samp>
		Result: true/false
	</samp>
</details>

<details>
	<summary>
		<span class="title">isPortrait()</span>
		<p>Checks if the device is in Portrait orientation.</p>
	</summary>
	<p><b>Returns: Boolean</b></p>
	<p>Example:</p>
	<pre><code class="language-javascript">Screen.isPortrait();</code></pre>
	<samp>
		Result: true/false
	</samp>
</details>

<details>
	<summary>
		<span class="title">isLandscape()</span>
		<p>Checks if the device is in Landscape orientation.</p>
	</summary>
	<p><b>Returns: Boolean</b></p>
	<p>Example:</p>
	<pre><code class="language-javascript">Screen.isLandscape();</code></pre>
	<samp>
		Result: true/false
	</samp>
</details>

<details>
	<summary>
		<span class="title">getOrientation()</span>
		<p>Gets the device current orientation.</p>
	</summary>
	<p>Returns: String (Orientation)</p>
	<p>Example:</p>
	<pre><code class="language-javascript">Screen.getOrientation();</code></pre>
	<samp>
		Result: "Portrait"/"Landscape"
	</samp>
</details>

<details>
	<summary>
		<span class="title">getMaximumWidth()</span>
		<p>Gets the display width.</p>
	</summary>
	<p>Returns: Integer (Pixels)</p>
	<p>Example:</p>
	<pre><code class="language-javascript">Screen.getMaximumWidth();</code></pre>
	<samp>
		Result: Width measured in number in pixels
	</samp>
</details>

<details>
	<summary>
		<span class="title">getMaximumHeight()</span>
		<p>Gets the display height.</p>
	</summary>
	<p>Returns: Integer (Pixels)</p>
	<p>Example:</p>
	<pre><code class="language-javascript">Screen.getMaximumHeight();</code></pre>
	<samp>
		Result: Height measured in number in pixels
	</samp>
</details>