<details>
	<summary>
		<span class="title">set()</span>
		<p>Stores a given data in a given key-name.</p>
	</summary>
	<p><b>Parameters: String (Key), String (Value)</b></p>
	<p>Example:</p>
	<pre><code class="language-javascript">Storage.set("Color", "Black");</code></pre>
	<samp>
		Result: Stores "Black" in "Color"
	</samp>
</details>

<details>
	<summary>
		<span class="title">get()</span>
		<p>Gets the data of a given key.</p>
	</summary>
	<p><b>Parameters: String</b></p>
	<p><b>Returns: String</b></p>
	<p>Example:</p>
	<pre><code class="language-javascript">Storage.get("Color");</code></pre>
	<samp>
		Result: "Black"
	</samp>
</details>

<details>
	<summary>
		<span class="title">clear()</span>
		<p>Deletes all the Locally Stored Data.</p>
	</summary>
	<p>Example:</p>
	<pre><code class="language-javascript">Storage.clear();</code></pre>
	<samp>
		Result: Deletes all the stored Data
	</samp>
</details>