<div class="row align-justify">

	<div class="col s12 align-center">
		<img src="img/icon.svg" alt="Aegis Logo">
	</div>

	<div class="col s6 align-center">
		<button class="md-depth-1"><a href="https://github.com/HyuchiaDiego/AegisTemplate/releases">Get the Template</a></button>
	</div>

	<div class="col s6 align-center ">
		<button class="md-depth-1"><a href="https://github.com/HyuchiaDiego/AegisFramework/releases">Get the Framework</a></button>
	</div>

	<div class="col s12">
		<p>Aegis is a simple, fast and easy to use Web Development Framework. It includes almost everything you'll need to design your webpage or web application and make it functional and secure.</p>
		<p>It includes it's own libraries which will help you on the process. Designed to give you easy access to common functions in the development of your site from DOM manipulation to backend routing you'll find Aegis to be a really complete and versatile framework. How simple is it? well, look at it's syntax!</p>
		<p>Javascript:</p>
		<pre><code class="language-javascript">// Utility classes</code><code class="language-javascript">Text.capitalize("HELLO HOW ARE YOU");</code>
	<code class="language-javascript">// jQuery replacement</code><code class="language-javascript">$_("div h1").text();</code>
	<code class="language-javascript">$_("li").click(function(){
	alert($_(this).text());
});</code></pre>

		<p>PHP:</p>
		<pre><code class="language-javascript">// Utility classes</code><code class="language-javascript">Text::capitalize("HELLO HOW ARE YOU");</code>
	<code class="language-php">// Templating and routing</code><code class="language-php">$router -> registerRoute("/", "main.html");</code>
	<code class="language-php">// Database interaction</code><code class="language-php">$db -> insert("Users", ["Name" => "John Doe", "City" => "New York"]);</code></pre>
		<p>So what are you waiting for? Get it now, <b>Learn, Design, Create!</b></p>
		<h2>Why?</h2>
		<p>Aegis was created for a simple purpose, to be an alternative for web developers, as simple as it could be and yet as complete and advanced as it could be as well. This means that it would be easy to use for both new and experienced developers, it also aims to help many others understand and learn about how a framework is built from scratch. Aegis takes advantage of all the newest technologies and best practices meaning that it's not for everyone, Aegis tries to be bleeding edge and that means it changes a lot.</p>
		<p>We all want awesome webs, with cool functionalities and design. Awesomeness needs time, so why not spend less time doing generic stuff and spend a lot more building the future?</p>

		<h2>License</h2>

		<p>Aegis is released under the <b><a href="https://opensource.org/licenses/MIT">MIT license</a></b></p>

	</div>

</div>