<details>
	<summary>
		<span class="title">Instantiation</span>
		<p>How to create a Password object.</p>
	</summary>
	<p><b>Optional Parameters:</b> String (Text Plain Password)</p>
	<p><b>Returns:</b> Password Instance</p>
	<p>Example:</p>
	<pre><code class="language-php">$password = new Password();</code></pre>
	<samp>
		Result: $password is now a Password object.
	</samp>

	<pre><code class="language-php">$password = new Password("APassw0rd");</code></pre>
	<samp>
		Result: $password is now a Password object and the password will be hashed and set to the hash property of the object.
	</samp>
</details>

<details>
	<summary>
		<span class="title">generate()</span>
		<p>Generates a random secure password with the given length.</p>
	</summary>
	<p>Optional Parameters: Integer (Required Length, 8 by default)</p>
	<p>Returns: None</p>
	<p>Example:</p>
	<pre><code class="language-php">$password -> generate();</code></pre>
	<samp>
		Result: The hash and password properties of the object will be set with an 8 character length safe password.
	</samp>

	<pre><code class="language-php">$password -> generate(10);</code></pre>
	<samp>
		Result: A The hash and password properties of the object will be set with a 10 character length safe password.
	</samp>
</details>

<details>
	<summary>
		<span class="title">getHash()</span>
		<p>Returns the hash of the password. This hash uses the current PHP default Blowfish algorithm.</p>
	</summary>
	<p>Parameters: None</p>
	<p>Returns: String (Hash)</p>
	<p>Example:</p>
	<pre><code class="language-php">$password -> getHash();</code></pre>
	<samp>
		Result: The Hash of the password. Ex:
		<pre><code class="language-php">"$2y$10$.vGA1O9wmRjrwAVXD98HNOgsNpDczlqm3Jq7KnEd1rVAGv3Fykk1a"</code></pre>
	</samp>

</details>

<details>
	<summary>
		<span class="title">compare()</span>
		<p>Compares the hashes of the given password with the one in the password object.</p>
	</summary>
	<p>Parameters: String (Password to compare.)</p>
	<p>Returns: Boolean</p>
	<p>Example:</p>
	<pre><code class="language-php">$password -> compare("An0therPassw0rd");</code></pre>
	<samp>
		Result: True if the given password is the same as the one in the password object or false if it isn't.
	</samp>
</details>