<section class="row offset-tn">
	<h2>Aegis PHP Library Documentation</h2>
	<h4>Warning: This Documentation is a Work in Progress.</h4>
    <p>The Aegis PHP is divided into 21 Classes for specific tasks, a Routing purposed index and a Deployment Area.</p>
    <ol>
    	<!--<li><a href="php/#Aegis">Aegis</a></li>
    	<li><a href="php/#Security">Security</a></li>
	    <li><a href="php/#Textphp">Text</a></li>-->
	    <li><a href="php/#Database">Database</a></li>
	    <li><a href="php/#DataReceiver">Data Receiver</a></li>
	    <li><a href="php/#Mail">Mail</a></li>
	    <li><a href="php/#Password">Password</a></li>
	    <li><a href="php/#Router">Router</a></li>
	    <!--<li><a href="php/#Session">Session</a></li>
	    <li><a href="php/#Files">Files</a></li>
	    <li><a href="php/#Util">Util</a></li>
	    <li><a href="php/#Crypt">Crypt</a></li>
	    <li><a href="php/#Images">Images</a></li>-->
    </ol>
   	<div id="Database">
		<h3>Database</h3>
		<p>The Database module takes care of connecting to the database and doing generic selects, and deletes. This module uses PDO.</p>
		{{> database}}
	</div>

	<div id="DataReceiver">
		<h3>Data Receiver</h3>
		<p>The Data Receiver module takes care of handling the information received through an HTTP request.</p>
		{{> dataReceiver}}
	</div>

		<div id="Mail">
		<h3>Mail</h3>
		<p>The mail module takes care of mail-related tasks such as sending and validating.</p>
		{{> mail}}
	</div>

	<div id="Password">
		<h3>Password</h3>
		<p>The password module takes care of handling passwords with safety.</p>
		{{> password}}
	</div>

	<div id="Router">
		<h3>Router</h3>
		<p>The router module takes care of handling the routes of your webpage.</p>
		{{> router}}
	</div>
</section>